<%= form_with(url: login_path, local: true) do |form| %>

  <% if flash.present? %>
    <div class="alert alert-danger">
      <% flash.each do |type, message| %>
        <%= message %>
      <% end  %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account %>
    <%= form.text_field :account %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit 'ログイン' %>
  </div>
<% end %>
